@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection {
    background: #7d2ae8;
    color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("falling-pink-hearts.gif");
}
.wrapper {
    position: relative;
    width: 355px;
    height: 425px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 12px 14px rgba(0.1, 0.1, 0.1, 0.1);
}

i {
    font-size: 7.5em;
    color: black;
    border: 5px solid transparent;
    outline: 3px solid #DB7093;
    border-radius: 50%;
}
h2 {
    font-size: 3em;
    color:black;
    margin: 15px 0;
}
.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #DB7093;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
button:nth-child(1) {
    margin-left: -170px;
    background: #DB7093;
}
button:nth-child(2) {
    margin-right: -170px;
    color: #DB7093;
}

.question {
    font-size: 37px;
    margin-top: 40px;
    text-align: center;
}
.ask {
    font-weight: 100;
    text-align: center;
}

img {
    height: 280px;
    width: 300px;
    border: 3px solid #DB7093;
    border-radius: 8px;
    margin-bottom: 35px;
    margin-top: 10px;
}